$icon-font-path: '../fonts/';
// bower:scss
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// endbower

// ------------------------------------
// MODULES
// ------------------------------------

@import 'app/styles/modules/position-mixin';


// ------------------------------------
// PARTIALS
// ------------------------------------

@import 'app/styles/partials/logo';


// ------------------------------------
// Homepage
// ------------------------------------

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background: url('../images/background-img.jpeg') no-repeat;
}

#background--video {
  position: absolute;
  width: 120vw;
  height: 120vh;
  margin-left: -10vw;
  margin-top: -10vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  will-change: transform;
  transform: translateZ(0);
}

.content {
  background-color: rgba(0, 0, 0, .2);
  padding: 10% 15%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
}

@media screen and (max-width: 1200px) {
  #background--video {
    width: 140vw;
    height: 140vh;
    margin-left: -20vw;
    margin-top: -20vh;
  }
}

@media screen and (max-width: 1024px) {
  #background--video {
    opacity: 0 !important;
    transition: none;
  }
}
