.about {
  @include position(absolute, 100% 0 0 0);
  padding: $padding-top-content 15%;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, .6);
}

.about--row {
  margin: 0;
}

.about--artist {
  padding: 0;
}

.about--description {
  font-size: $size-normal;
  color: $color-white-opa-8;
}

.about--pictures {
  padding-left: 5%;
}

.img-container {
  overflow: hidden;
  margin: $margin-top-element 0;
}

.img-artist {
  width: 100%;
}
