.background {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background: url('../images/background-img.jpeg') no-repeat;
  background-size: cover;
}

#background-video {
  @include video-width-height-margin(120vw, 120vh);
  @extend .composite-layer;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
