.content {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: $color-overlay;
}

.content--top-section {
  width: 25vw;
  margin: $padding-top-content 15%;
}

.content--title {
  @include position(absolute, 0 0 0 -99999px);
}

.content--logo {
  max-width: 100%;
}

.content--footer {
  margin-top: $margin-top-element;
}

.content--button {
  background: none;
  border: none;
  outline: none;
  font-size: $size-normal;
  padding: 0;
}

.book-button {
  @extend .content--button;
  font-size: $size-call-to-action;
  text-transform: uppercase;
  text-decoration: underline;

  &:active {
    color: gray;
  }
}
