@media screen and (max-width: 1200px) {
  #background--video {
    @include video-width-height-margin(140vw, 140vh);
  }
}

@media screen and (max-width: 1024px) {
  #background--video {
    display: none;
  }

  .content--top-section {
    width: $width-responsive;
    margin: $padding-top-content;
  }

  .modal-content {
    width: $width-responsive;
  }

  .about {
    padding: $padding-top-content;
  }

  .about--pictures {
    padding: 0;
  }

  .img-container {
    width: 100%;
    max-height: 100%;
    margin: 5% 0;
  }
}
